<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Dis</display-name>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CLoginServlet</servlet-name>
		<servlet-class>servlet.CLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>RegServlet</servlet-name>
		<servlet-class>servlet.RegServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ActivityServlet</servlet-name>
		<servlet-class>servlet.ActivityServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>servlet.AddServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>updateServlet</servlet-name>
		<servlet-class>servlet.UpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ManagerServlet</servlet-name>
		<servlet-class>servlet.ManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CRegServlet</servlet-name>
		<servlet-class>servlet.CRegServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>BusinessServlet</servlet-name>
		<servlet-class>servlet.BusinessServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CustomerServlet</servlet-name>
		<servlet-class>servlet.CustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>BusinessUpdateServlet</servlet-name>
		<servlet-class>servlet.BusinessUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CustomerUpdateServlet</servlet-name>
		<servlet-class>servlet.CustomerUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UploadHandleServlet</servlet-name>
		<servlet-class>servlet.UploadHandleServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CActivityServlet</servlet-name>
		<servlet-class>servlet.CActivityServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CSearchServlet</servlet-name>
		<servlet-class>servlet.CSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CGetOneServlet</servlet-name>
		<servlet-class>servlet.CGetOneServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CCollectServlet</servlet-name>
		<servlet-class>servlet.CCollectServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CGetCommentsServlet</servlet-name>
		<servlet-class>servlet.CGetCommentsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CAddCommentServlet</servlet-name>
		<servlet-class>servlet.CAddCommentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CMyCollectionServlet</servlet-name>
		<servlet-class>servlet.CMyCollectionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CGetMyCommentsServlet</servlet-name>
		<servlet-class>servlet.CGetMyCommentsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ActivateAccountServlet</servlet-name>
		<servlet-class>servlet.ActivateAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ReSentEmailServlet</servlet-name>
		<servlet-class>servlet.ReSentEmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReSentEmailServlet</servlet-name>
		<url-pattern>/servlet/ReSentEmailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlet/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CLoginServlet</servlet-name>
		<url-pattern>/servlet/CLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegServlet</servlet-name>
		<url-pattern>/servlet/RegServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActivityServlet</servlet-name>
		<url-pattern>/servlet/ActivityServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/servlet/AddServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateServlet</servlet-name>
		<url-pattern>/servlet/UpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManagerServlet</servlet-name>
		<url-pattern>/servlet/ManagerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CRegServlet</servlet-name>
		<url-pattern>/servlet/CRegServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BusinessServlet</servlet-name>
		<url-pattern>/servlet/BusinessServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/servlet/CustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BusinessUpdateServlet</servlet-name>
		<url-pattern>/servlet/BusinessUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerUpdateServlet</servlet-name>
		<url-pattern>/servlet/CustomerUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadHandleServlet</servlet-name>
		<url-pattern>/servlet/UploadHandleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CActivityServlet</servlet-name>
		<url-pattern>/servlet/CActivityServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CSearchServlet</servlet-name>
		<url-pattern>/servlet/CSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CGetOneServlet</servlet-name>
		<url-pattern>/servlet/CGetOneServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CCollectServlet</servlet-name>
		<url-pattern>/servlet/CCollectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CGetCommentsServlet</servlet-name>
		<url-pattern>/servlet/CGetCommentsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CAddCommentServlet</servlet-name>
		<url-pattern>/servlet/CAddCommentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CMyCollectionServlet</servlet-name>
		<url-pattern>/servlet/CMyCollectionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CGetMyCommentsServlet</servlet-name>
		<url-pattern>/servlet/CGetMyCommentsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActivateAccountServlet</servlet-name>
		<url-pattern>/servlet/ActivateAccountServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>